body {
    font-family: monospace;
    background: #f1f5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 25px;
    width: 360px;
    border-radius: 10px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

pre {
    background: #eef2f7;
    padding: 10px;
    margin-top: 10px;
}
